<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <a routerLink="/register" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1687798193/mantecausdnet/zvyxb8rcvyboziubbqfo/Registration.png" alt="..."width="32" height="32">
     
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Student registration</h6>
          
        </div>
        
      </div>
    </a>
    <a routerLink="/list"  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://cdn4.iconfinder.com/data/icons/application-windows-2/32/Application-List-View-Window-512.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">View Students</h6>
          <p class="mb-0 opacity-75">View and update  student table</p>
        </div>
       
      </div>
    </a>
   
  </div>
</div>